@font-face {
  font-family: Inter;
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: block;
  src: url("https://rsms.me/etc/inter-opsz/Inter-V.var.woff2") format("woff2");
}

body {
  --aetinx: #ff5588;
  --dark: #012;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-variation-settings: "opsz" 32;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: var(--aetinx);
  padding: 25px 100px;
}

nav > * {
  display: flex;
  align-items: center;
  color: white;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.75;
}

nav > *:first-child {
  flex: 1;
  gap: 50px;
}

nav > *:first-child svg {
  height: 2em;
  width: auto;
  fill: white;
  padding: 0;
  margin: 0;
}

nav > *:last-child {
  gap: 25px;
}

main {
  padding: 100px;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 50px 0;
}

h1 span {
  display: inline-block;
  animation: 0.5s header both;
  opacity: 0;
  transform: translateY(50px);
}

@keyframes header {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

h2 {
  margin: 100px 0 25px 0;
  color: var(--aetinx);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
}

grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

grid > * {
  --colour: var(--aetinx);
  
  display: grid;
  background: var(--colour);
  border-radius: 16px;
  padding: 25px;
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

grid > *:hover {
  transform: scale(1.05) rotate(1deg);
}

grid > * saco-icon {
  height: 24px;
  width: 24px;
  margin-bottom: 25px;
}

grid > * > *:nth-child(2) {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}