@font-face {
  font-family: "Instrument Sans";
  font-style: italic;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../assets/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-feature-settings:
    "ss05" on,
    "ss07" on,
    "ss10" on;
}

@font-face {
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-feature-settings:
    "ss05" on,
    "ss07" on,
    "ss10" on;
}

@font-face {
  font-family: "Commit Mono";
  font-style: normal;
  font-weight: 200 700;
  font-stretch: 100%;
  font-display: swap;
  src:
    url("../assets/fonts/CommitMono VariableFont.woff2") format("woff2"),
    url("../assets/fonts/CommitMono VariableFont.ttf") format("truetype");
  font-feature-settings: "cv02", "cv03", "cv10", "cv11";
}

@theme {
  --font-sans: "Instrument Sans", "Inter Display", "Inter", sans;
  --font-mono: "Commit Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* https://www.tints.dev/palette/v1:cGlua3xmZjAwYWF8NTAwfHB8MHwwfDB8MTAwfGF-bWV0YWx8YWFiYmNjfDMwMHxwfDB8MHwwfDEwMHxh */
  --color-pink-50: oklch(0.969 0.018 351.26);
  --color-pink-100: oklch(0.928 0.043 350.3);
  --color-pink-200: oklch(0.865 0.086 350.52);
  --color-pink-300: oklch(0.794 0.141 350.29);
  --color-pink-400: oklch(0.725 0.205 349.99);
  --color-pink-500: oklch(0.66 0.276 349.71);
  --color-pink-600: oklch(0.558 0.233 349.75);
  --color-pink-700: oklch(0.457 0.191 349.84);
  --color-pink-800: oklch(0.355 0.148 349.6);
  --color-pink-900: oklch(0.248 0.103 349.74);
  --color-pink-950: oklch(0.199 0.083 349.76);
  --color-metal-50: oklch(0.965 0.004 236.35);
  --color-metal-100: oklch(0.932 0.009 247.89);
  --color-metal-200: oklch(0.853 0.021 250.4);
  --color-metal-300: oklch(0.784 0.031 248.21);
  --color-metal-400: oklch(0.688 0.035 248.33);
  --color-metal-500: oklch(0.603 0.031 248.33);
  --color-metal-600: oklch(0.508 0.026 248.33);
  --color-metal-700: oklch(0.414 0.021 242.86);
  --color-metal-800: oklch(0.317 0.016 248.32);
  --color-metal-900: oklch(0.232 0.012 248.34);
  --color-metal-950: oklch(0.176 0.01 255.64);

  --ease-0001: cubic-bezier(0, 0, 0, 1);
  --ease-1001: cubic-bezier(1, 0, 0, 1);
}