@import "tailwindcss";
@import "./base.css";

.h1 {
  @apply md:text-[32px] text-2xl text-pretty font-semibold leading-[125%];
}

.h2 {
  @apply font-semibold md:text-xl text-lg;
}

.h3 {
  @apply md:font-semibold font-bold md:text-lg text-base;
}

.nav-mobile-container {
  background: red;
}

.nav-toggle {
  position: relative;
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s cubic-bezier(0, 0, 0, 1);
  margin-right: -0.3333rem;
}

.nav-toggle::before,
.nav-toggle::after {
  content: "";
  position: absolute;
  left: 13%;
  right: 13%;
  height: 2px;
  background: currentColor;
  transition: inherit;
}

.nav-toggle::before {
  top: 32%;
}

.nav-toggle::after {
  bottom: 32%;
}

.nav-toggle[aria-expanded="true"] {
  /* transform: rotate(90deg); */

  &::before {
    transform: translateY(6px) rotate(45deg);
  }

  &::after {
    transform: translateY(-4px) rotate(-45deg);
  }
}

@keyframes test {
  from: {
    rotate: 0deg;
    background: red;
  }

  to: {
    rotate: 270deg;
  }
}
