@import url("@assets/styles/iosevka.css");
@import "tailwindcss";

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_55_roman.4020960013f9.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_55_roman.64e8aedbcdb8.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_55_oblique.661461ea858b.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_55_oblique.3eec7fb39fcf.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_65_bold.3e0bae4c4341.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_65_bold.51ddc9130aaa.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 700;
  font-style: italic;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_65_bold_oblique.69a449493509.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_65_bold_oblique.44d4c7e5d819.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_57_condensed.9b7813ee98f5.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_57_condensed.b507db6a73cb.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_67_bold_condensed.0f0f0b325220.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_67_bold_condensed.889bc57cf17b.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_57_condensed_oblique.ae4b161e8fec.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_57_condensed_oblique.0fcab45d4b6f.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: 'Univers LT Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
  src: url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_67_bold_condensed_oblique.8db9150b5bba.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/univers/univers_lt_pro_67_bold_condensed_oblique.e51d74994415.woff") format('woff');
  font-display: block
}

@font-face {
  font-family: TX-02-Data;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/TX-02-Data/TX-02-Data-Regular.09ec0d8a5811.woff2") format('woff2');
  font-display: block
}

@font-face {
  font-family: TX-02-Data;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/TX-02-Data/TX-02-Data-Bold.17ffdda91017.woff2") format('woff2');
  font-display: block
}

@font-face {
  font-family: 'Berkeley Arrow';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("https://usgraphics.com/static/core/css/fonts/berkeley-mono-data/BerkeleyArrow-Regular.5d4ca08d92bd.woff2") format('woff2'),url("https://usgraphics.com/static/core/css/fonts/berkeley-mono-data/BerkeleyArrow-Regular.7674a172994e.woff") format('woff'),url("https://usgraphics.com/static/core/css/fonts/berkeley-mono-data/BerkeleyArrow-Regular.14ce77505f9a.ttf") format('truetype');
  font-display: block;
  unicode-range: U+2192
}

html {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: white;
}

body {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  font-family: Inter Variable, InterVariable, Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "ss07" on, "ss08" on, "cv01" on, "cv10" on;
  font-variation-settings: "opsz" 32;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 1.4;
  font-size: 10pt;
  page-break-inside: avoid;
  background: white;
  margin: 0;
  width: min(8.5in, 100%);
}

@media screen and (min-width: 9in) {
  html {
    background: #dadce0;
    padding: clamp(0px, calc((100% - 8.5in) / 2), 64px);
  }

  body {
    border-radius: clamp(0px, calc((100vw - 8.5in - 12px) / 2), 0.125in);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.32) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  }
}

section a[href][target="_blank"]::after {
  content: "";
  display: inline-block;
  height: 0.625em;
  aspect-ratio: 1 / 1;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgMUg5VjRNNC41IDUuNUw4LjUgMS41TTQgMi41SDFWOUg3LjVWNiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
  vertical-align: 20%;
}

h2 {
  font-size: 1.25em;
  padding-bottom: 1em;
  border-bottom: 1.5px solid black;
  margin-top: 2em;
  margin-bottom: 1em;
}

section:first-child {
  h2 {
    margin-top: 0;
  }
}

p {
  padding: 0;
  margin: 0;
}

section {
  page-break-inside: avoid;
}

.section__grid {
  display: grid;
  grid-gap: 16pt;
}

.section__stack {
  display: grid;
  grid-gap: 16pt;
}

.section--min {
  grid-gap: 8pt;
}

.monospace {
  font-family: "Iosevka Web", "Iosevka", monospace;
  font-feature-settings: normal;
  text-transform: uppercase;
}

#toolbar {
  display: flex;
  background: white;
  border-radius: 9999px;
  padding: 4px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.16) inset, 0px 0px 8px 4px rgba(0, 0, 0, 0.16);
  font-size: 16px;
}

#toolbar__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  padding: 32px;
}

@media screen and (min-width: 8.25in), print {
  .section__grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .area__columns {
    @apply columns-2 gap-[16pt];
  }
}

@media screen and (max-width: 1024px) {
  #toolbar__container {
    display: none;
  }
}

@media screen {
  body {
    padding: 0.5in;
    min-height: 11in;
  }
}

@media print {
  html {
    background: none;
  }

  body {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
  }

  #toolbar__container {
    display: none;
  }
}

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}
