---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
---

<Layout>
  <Section>
    <main>
      <h1 class="h1">Page not found</h1>
      <p class="mt-4">
        Sorry, the page you’re looking for isn’t here. Let's go <a href="/" class="underline">home</a>.
      </p>
    </main>
  </Section>
</Layout>
