:root {
  /* Color */
  --aet-color-accent: #FF4499;
  --aet-color-background: #090909;
  --aet-color-foreground: #FFFFFF;
  --aet-color-foreground-variant: #777777;
  --aet-color-on-accent: #FFFFFF;
  --aet-color-on-accent-variant: #FFC3DE;
  --aet-color-on-primary: #090909;
  --aet-color-on-primary-variant: #777777;
  --aet-color-on-surface: #FFFFFF;
  --aet-color-on-surface-variant: #999999;
  --aet-color-primary: #FFFFFF;
  --aet-color-surface: #292929;
  --aet-color-surface-1: #494949;
  --aet-color-surface-2: #696969;
  /* Numbers */
  --aet-padding-body: 96px;
  --aet-padding-card: 48px;
  --aet-spacing-xxl: 128px;
  --aet-spacing-xl: 96px;
  --aet-spacing-l: 48px;
  --aet-spacing-m: 36px;
  --aet-spacing-s: 32px;
  --aet-spacing-xs: 20px;
  --aet-spacing-xxs: 4px;
  --aet-height-button: 48px;
  --aet-radius-pill: 99999px;
  --aet-radius-m: 20px;
  --aet-radius-s: 8px;
  /* Typeface */
  --aet-font-family-plain: InterVariable, Inter, sans-serif;
  /* Typescale */
  --aet-font-size-body-small: 18px;
  --aet-font-size-body-medium: 20px;
  --aet-font-size-body-large: 24px;
  --aet-font-size-display-small: 32px;
  --aet-font-size-display-medium: 64px;
  --aet-font-size-display-large: 72px;

  font-family: var(--aet-font-family-plain);
  font-weight: 500;
  font-feature-settings: "liga" 1, "calt" 1;
  font-variation-settings: "opsz" 32;
  scrollbar-color: #777 #333;
}

html {
  padding: 0;
  margin: 0;
  background: var(--aet-color-background);
  color: var(--aet-color-foreground);
}

body {
  box-sizing: content-box;
  padding: var(--aet-padding-body);
  margin: 0 auto;
  max-width: 1000px;
  font-size: var(--aet-font-size-body-medium);
}

.symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
}

.symbol svg {
  scale: calc(4/3);
  height: 100%;
  width: 100%;
}

h1 {
  font-size: var(--aet-font-size-display-medium);
  font-weight: 500;
}

p {
  font-size: var(--aet-font-size-display-small);
  line-height: 1.5;

  + p {
    margin-top: .5em;
  }
}

p[role="doc-subtitle"] {
  color: var(--aet-color-foreground-variant);
  margin-bottom: var(--aet-spacing-l);
}

h3 {
  font-size: var(--aet-font-size-body-medium);
  font-weight: 500;
  color: var(--aet-color-foreground-variant);
  margin-top: var(--aet-spacing-xl);
}

h3.label {
  display: flex;
  align-items: center;
  gap: 1em;
}

[role="button"] {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  background: var(--aet-color-primary);
  border-radius: 9999px;
  color: var(--aet-color-on-primary);
  padding: 0 1em;
  height: var(--aet-height-button);
  text-decoration: none;
  cursor: pointer;
}

.surface-0 {
  background: var(--aet-color-surface);
  color: var(--aet-color-on-surface);
  transition: background 0.5s;
}

[role="button"].surface-0:hover {
  background: var(--aet-color-surface-1);
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: var(--aet-spacing-xl);
  gap: var(--aet-spacing-l);
  color: var(--aet-color-foreground-variant);
  font-size: var(--aet-font-size-body-small);
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
}

.nav-logo svg, .nav-toggle svg {
  display: block;
}

.nav-pages {
  display: flex;
  flex-grow: 1;
  gap: var(--aet-spacing-l);
}

.nav-socials {
  display: flex;
  font-size: var(--aet-font-size-body-small);
  gap: 1.5em;
}

nav a {
  color: inherit;
  text-decoration: none;
}

header {
  margin-bottom: var(--aet-spacing-xxl);
}

.projects {
  display: grid;
  gap: var(--aet-spacing-xl);
}

.project {
  display: grid;
  gap: var(--aet-spacing-xs);
}

.project-details {
  display: grid;
  gap: var(--aet-spacing-xxs);
}

.project-details > *:last-child {
  color: var(--aet-color-foreground-variant);
}

.project img, .project video {
  position: relative;
  border-radius: var(--aet-radius-m);
  width: 100%;
}

.project-thumbnail-holder {
  display: grid;
  position: relative;
  width: 100%:
}

.project-thumbnail-holder:before {
  border: 2px solid #fff5;
  border-radius: var(--aet-radius-m);
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  :root {
    --aet-padding-body: 40px;
    --aet-padding-card: 32px;
    --aet-spacing-xxl: 48px;
    --aet-spacing-xl: 36px;
    --aet-spacing-l: 24px;
    --aet-spacing-m: 20px;
    --aet-spacing-s: 16px;
    --aet-spacing-xs: 8px;
    --aet-spacing-xxs: 4px;
    --aet-height-button: 40px;
    --aet-radius-pill: 99999px;
    --aet-radius-m: 8px;
    --aet-radius-s: 8px;

    --aet-font-size-body-small: 14px;
    --aet-font-size-body-medium: 16px;
    --aet-font-size-body-large: 18px;
    --aet-font-size-display-small: 20px;
    --aet-font-size-display-medium: 32px;
    --aet-font-size-display-large: 48px;
  }
  
  nav {
    flex-direction: column;
    align-items: unset;
  }

  nav.open {
    position: fixed;
    gap: var(--aet-spacing-xxl);
    inset: 0;
    padding: var(--aet-padding-body);
    background: var(--color-background);
    margin-bottom: 0;
    z-index: 2;
  }

  nav.open ~ * {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-pages, .nav-socials {
    display: none;
  }

  .nav-pages {
    display: none;
    flex-direction: column;
    gap: 15px;
    font-size: 32px;
  }

  nav.open .nav-pages,
  nav.open .nav-socials {
    display: flex;
  }

  nav .nav-toggle svg {
    transform-box: fill-box;
  }

  nav .nav-toggle svg path {
    rotate: 0deg;
    transform-origin: 9px 9px;
    transition: 0.5s;
  }

  nav.open .nav-toggle svg path:first-child {
    rotate: 270deg;
  }

  nav.open .nav-toggle svg path:last-child {
    rotate: 180deg;
  }
}