---
layout: layouts/base.njk
title: "About me"
subtitle: "My name is Adrian Keim (they/them), and I’m a designer based in Maine, USA. I have backgrounds in various creative fields, such as design, website and SaaS development, and photography."
---

<style>
  p {
    color: var(--aet-color-foreground);
  }
</style>

{% for item in collections.qa %}
<h3 class="label">
  {% symbol item.icon %}
  {{ item.question | safe }}
</h3>
{{ item.answer | safe }}
{% endfor %}