---
layout: layouts/base.njk
---

<a rel="me" href="https://mas.to/@aetinx" hidden></a>

<header>
  <h1>Creating magical things</h1>
  <p role="doc-subtitle">I’m an interdisciplinary designer with a passion to make computing friendlier and more enjoyable for everyone.</p>
  <a class="surface-0" role="button" href="/about">
    Read more {% symbol "arrow-right-circle" %}
  </a>
</header>

<div class="projects">
  <div class="project">
    <div class="project-thumbnail-holder">
      <video autoplay loop muted>
        <source src="https://campsite.imgix.net/o/2ua6xs4a65g4/p/3fb8d74a-9198-4b97-ae4d-740f0a9fee57.mp4">
      </video>
    </div>
    <div class="project-details">
      <div>Aetinx Logo Animation</div>
      <div>Motion Design</div>
    </div>
  </div>{% for project in collections.projects %}
  <div class="project">
    <div class="project-thumbnail-holder">
      <img src="/public/images/thumbnails/{{ project.thumbnail }}">
    </div>
    <div class="project-details">
      <div>{{ project.name }}</div>
      <div>{{ project.roles  | join(", ") }}</div>
    </div>
  </div>{% endfor %}
</div>