:root {
  --aet-iosevka-ffs: "cv01" 3, "cv04" 1, "cv05" 5, "cv06" 1, "cv07" 5, "cv08" 2,
  "cv09" 1, "cv10" 4, "cv11" 5, "cv17" 20, "cv20" 1, "cv21" 16, "cv26" 4, "cv31" 4, "VDAC" 2;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Iosevka";
  src: url("@assets/fonts/iosevka/Iosevka-Heavy.ttf");
  font-weight: 900;
}